
.outerbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ravi-center{
    text-align: center;
    margin-top: 20px;
    color: #02B290;
    font-size: 42px;
}
.ravi-innerbox{
    background-color: red ;
    padding: 20px;
    width: 600px;
    text-align: center;
    border-radius: 15px;
    border: 2px dashed green;
}
.ravi-innerbox:hover{
    background-color: blueviolet !important;
}
.ravi-name{
    color: aqua;
}
.ravi-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}
.ravi-image:hover{
    scale: 1.2;
}